[Unit]
Description=force everything to use 32 bit versions of libicu*
Requires=lxc@android.service
After=phosh.service

[Service]
Type=oneshot
ExecStart=-/usr/bin/mount --bind /android/apex/com.android.runtime/lib/libicuuc.so /android/apex/com.android.runtime/lib64/libicuuc.so
ExecStart=-/usr/bin/mount --bind /android/apex/com.android.runtime/lib/libicui18n.so /android/apex/com.android.runtime/lib64/libicui18n.so
ExecStart=-/usr/bin/rm -rf /home/droidian/.cache/gstreamer-1.0/

[Install]
WantedBy=graphical.target
